@model Meal_Plan_Calendar.Models.MenuItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MenuItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meal_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meal_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal_Ingredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meal_Ingredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meal_Img)
        </dt>
        <dd class = "col-sm-10">
            <img class="menuItemImg" src="~/images/@Html.DisplayFor(model => model.Meal_Img)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
